<div class="container py-2">
  <h1>Genres</h1>
   <div class="row">
     <% genres.forEach(genre => { %>
     <div class="col-md-4 col-sm-12 my-2">
       
         <div class="card card-category">
            <div class="card-category-img">
           <img src="<%= genre.image_background %>" class="img-category card-img-top">
            </div>
         <div class="card-body">
         
           <h4 class="py-2"><%= genre.name %> </h4>
           <div class="py-2 d-flex border-bottom border-top align-items-center justify-content-between">
             <span><strong>Popular Items</strong></span><span><%= genre.games_count %></span>
           </div>
           <ul class="nav flex-column">
             
             <% genre.games.forEach(game => { %>
               <li class="nav-item">
                 <a href="/games/<%= game.slug %>" class="nav-link"><%= game.name %>
                   <span class="mx-2"> <i class="fa-solid fa-chevron-right"></i></span>
                 </a>
               </li>
              
             <% }); %>
           </ul>
           
         </div>
       </div>
     </div>
     <% }); %>
   </div>
 </div>