
        
          <div class="container py-2">
            <h1>New Games</h1>
            <div id="newGamesCarousel" class="carousel slide">
              <div class="carousel-inner">
                <% newGames.forEach((newGame, index) => { %>
                  <% if (index % 4 === 0) { %>
                    <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                      <div class="row">
                  <% } %>

                  <a href="/games/<%= newGame.slug %>" class="col-lg-3 col-md-6 col-sm-12 my-2 game-link">

                    <div class="card card-game">
                      <div class="card-img">
                      <img src="<%= newGame.background_image %>" class="card-img-top" alt="<%= newGame.name %>">
                      </div>
                      <div class="card-body">

                        <div class="d-flex justify-content-between align-items-center card-info mb-3">
                          <div class="icons">
                            <% newGame.parent_platforms.forEach(platform => { %>
                              <% if (platform.platform.name === 'PC') { %>
                                <i class="fa-brands fa-windows"></i>
                              <% } else if (platform.platform.name === 'Linux') { %>
                                <i class="fa-brands fa-linux"></i>
                              <% } else if (platform.platform.name === 'PlayStation') { %>
                                <i class="fa-brands fa-playstation"></i>
                              <% } else if (platform.platform.name === 'Xbox') { %>
                                <i class="fa-brands fa-xbox"></i>
                              <% } else if (platform.platform.name === 'Apple Macintosh') { %>
                                <i class="fa-brands fa-apple"></i>
                              <% } else if (platform.platform.name === 'Nintendo') { %>
                                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" class="nintendo-icon" viewBox="0 0 32 32">
                                  <path fill="currentColor" d="M0 .803h9.469L22.598 22V.803h9.401v30.395h-9.385L9.411 10.001v21.197H-.001z" />
                                </svg>
                              <% } else if (platform.platform.name === 'Android') { %>
                                <i class="fa-brands fa-android"></i>
                              <% } %>
                            <% }) %>
                          </div>
                              <div>
                                <span>
                                  <%= newGame.released %>
                                </span>
                              </div>
                            </div>




                              <div class="card-title-wrapp my-2">
                        <h6 class="card-title"><%= newGame.name %> </h6>
                              </div>
                              
                      </div>
                    </div>
                    
                  </a>

                  <% if ((index + 1) % 4 === 0 || index === newGames.length - 1) { %>
                    </div>
                  </div>
                  <% } %>
                <% }); %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#newGamesCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#newGamesCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

         



<div class="container py-2">
  <h1>Popular Games</h1>
<div id="popularGamesCarousel" class="carousel slide">
  <div class="carousel-inner">
    <% popularGames.forEach((popularGame, index) => { %>
      <% if (index % 4 === 0) { %>
        <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
          <div class="row">
      <% } %>

        <a href="/games/<%= popularGame.slug %>" class="col-lg-3 col-md-6 col-sm-12 my-2 game-link">
       
        <div class="card card-game">
          <div class="card-img">
            <img src="<%= popularGame.background_image %>" class="img-top">
          </div>
          <div class="card-body">


            <div class="d-flex justify-content-between align-items-center card-info mb-3">
              <div class="icons">
                <% popularGame.parent_platforms.forEach(platform => { %>
                  <% if (platform.platform.name === 'PC') { %>
                    <i class="fa-brands fa-windows"></i>
                  <% } else if (platform.platform.name === 'Linux') { %>
                    <i class="fa-brands fa-linux"></i>
                  <% } else if (platform.platform.name === 'PlayStation') { %>
                    <i class="fa-brands fa-playstation"></i>
                  <% } else if (platform.platform.name === 'Xbox') { %>
                    <i class="fa-brands fa-xbox"></i>
                  <% } else if (platform.platform.name === 'Apple Macintosh') { %>
                    <i class="fa-brands fa-apple"></i>
                  <% } else if (platform.platform.name === 'Nintendo') { %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1rem" class="nintendo-icon" viewBox="0 0 32 32">
                      <path fill="currentColor" d="M0 .803h9.469L22.598 22V.803h9.401v30.395h-9.385L9.411 10.001v21.197H-.001z" />
                    </svg>
                  <% } else if (platform.platform.name === 'Android') { %>
                    <i class="fa-brands fa-android"></i>
                  <% } %>
                <% }) %>
              </div>

                  <div>
                    <span>
                      <%= popularGame.released %>
                    </span>
                  </div>
                  

                </div>
            


            <div class="card-title-wrapp my-2">
            <h6><%= popularGame.name %> </h6>
            </div>
          </div>
          
        </div>
        
        </a>

      <% if ((index + 1) % 4 === 0 || index === popularGames.length - 1) { %>
          </div>
        </div>
      <% } %>
    <% }); %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#popularGamesCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#popularGamesCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    </div>



  
     